@using SmartHouseMVC.Helpers
@model SmartHouseMVC.Models.SmartHouse.Devices.Camera
<div class="item camera">
    @DeleteHelper.CreateControl(Html, Model)
    <div class="indicators">
        @IRecordingHelper.CreateIndicator(Html, Model)
    </div>
    <div class="controls">
        @ISwitchableHelper.CreateControl(Html, Model)
        @IRecordingHelper.CreateControl(Html, Model)
    </div>
</div>
