@using SmartHouseMVC.Helpers
@model SmartHouseMVC.Models.SmartHouse.Devices.Camera
<div class="item camera">
    @DeleteHelper.CreateControl(Html, Model)
    <div class="indicators">
        @RecordingHelper.CreateIndicator(Html, Model)
    </div>
    <div class="controls">
        @SwitchableHelper.CreateControl(Html, Model)
        @RecordingHelper.CreateControl(Html, Model)
    </div>
</div>
