@using SmartHouseMVC.Helpers
@model SmartHouseMVC.Models.SmartHouse.Devices.Fridge
<div class="item fridge">
    @DeleteHelper.CreateControl(Html, Model)
    <div class="controls">
        @SwitchableHelper.CreateControl(Html, Model)
        @OpenableHelper.CreateControl(Html, Model)
        @TemperatureHelper.CreateControl(Html, Model)
    </div>
</div>

