@using SmartHouseMVC.Helpers
@model SmartHouseMVC.Models.SmartHouse.Devices.AirConditioner
<div class="item airConditioner">
    @DeleteHelper.CreateControl(Html, Model)
    <div class="controls">
        @SwitchableHelper.CreateControl(Html, Model)
        @TemperatureHelper.CreateControl(Html, Model)
    </div>
</div>
