@model SmartHouseMVC.Models.SmartHouse.Devices.AirConditioner
<div class="item airConditioner">
    @Html.ActionLink(" ","Delete", "AirConditioner", new{id = Model.Id}, new {@class = "delete"})
</div>
