@using SmartHouseMVC.Helpers
@using SmartHouseMVC.Models.SmartHouse.Devices
@model IEnumerable<Device>
@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart Home</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/Css/styles.css" />
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/script.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img src="/Css/smarthouse.png" alt="logo" />
        </div>
    </header>
    @using (Html.BeginForm("DoAction", "Home", FormMethod.Post))
    {
        <div id="content">
            <div class="addButtons">
                <button class="add" name="action" value="addAirConditioner">Add Air Conditioner</button><br />
                <button class="add" name="action" value="addCamera">Add Camera</button><br />
                <button class="add" name="action" value="addFridge">Add Fridge</button><br />
                <button class="add" name="action" value="addGarage">Add Garage</button><br />
                <button class="add" id="AddHomeCinema" type="button" value="HomeCinema">Add Home Cinema</button><br />
                <div class="elem invisible" id="HomeCinemaLink">
                    <button class="manufacturer" name="action" value="addPanasonicHomeCinema">Panasonic</button>
                    <br />
                    <button class="manufacturer" name="action" value="addSamsungHomeCinema">Samsung</button>
                </div>
                <button class="add" id="AddLoudspeakers" type="button" value="Loudspeakers">Add Loudspeakers</button><br />
                <div class=" elem invisible" id="LoudspeakersLink">
                    <button class="manufacturer" name="action" value="addPanasonicLoudspeakers">Panasonic</button>
                    <br />
                    <button class="manufacturer" name="action" value="addSamsungLoudspeakers">Samsung</button>
                </div>
                <button class="add" id="AddTv" type="button" value="Tv">Add TV</button>
                <div class="elem invisible" id="TvLink">
                    <button class="manufacturer" name="action" value="addPanasonicTv">Panasonic</button>
                    <br />
                    <button class="manufacturer" name="action" value="addSamsungTv">Samsung</button>
                </div>
            </div>
            <div class="container">
                @foreach (var device in Model)
                {
                    @DeviceHelper.CreateDevice(Html, device)
                }
            </div>

        </div>
    }
</body>
</html>