@using SmartHouseMVC.Helpers
@using SmartHouseMVC.Models.SmartHouse.Devices
@model IEnumerable<Device>
@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart Home</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/Css/styles.css"/>
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/script.js"></script>
</head>
<body>
    <form id="form1" action="" method="POST">
        <header>
            <div id="logo">
                <img src="/Css/smarthouse.png" alt="logo" />
            </div>
        </header>
        <div id="content">
            <div class="addButtons">
                <button class="add" name="add:AirConditioner" value="AirConditioner">Add Air Conditioner</button><br/>
                <button class="add" name="add:Camera" value="Camera">Add Camera</button><br/>
                <button class="add" name="add:Fridge" value="Fridge">Add Fridge</button><br/>
                <button class="add" name="add:Garage" value="Garage">Add Garage</button><br/>
                <button class="add" id="AddHomeCinema" type="button" value="HomeCinema">Add Home Cinema</button><br/>
                <div class="invisible" id="HomeCinemaLink">
                    <button class="manufacturer" name="add:PanasonicHomeCinema" value="PanasonicHomeCinema">Panasonic</button>
                    <br />
                    <button class="manufacturer" name="add:SamsungHomeCinema" value="SamsungHomeCinema">Samsung</button>
                </div>
                <button class="add" id="AddLoudspeakers" type="button" value="Loudspeakers">Add Loudspeakers</button><br/>
                <div class="invisible" id="LoudspeakersLink">                  
                    <button class="manufacturer" name="add:PanasonicLoudspeakers" value="PanasonicLoudspeakers">Panasonic</button>
                    <br />
                    <button class="manufacturer" name="add:SamsungLoudspeakers" value="SamsungLoudspeakers">Samsung</button>
                </div>
                <button class="add" id="AddTv" type="button" value="Tv">Add TV</button>
                <div class ="invisible" id="TvLink">
                    <button class="manufacturer" name="add:PanasonicTv" value="PanasonicTv">Panasonic</button>
                    <br />
                    <button class="manufacturer" name="add:SamsungTv" value="SamsungTv">Samsung</button>
                </div>
            </div>
            <div class="container">
                @foreach (var device in Model)
                {
                    @DeviceHelper.CreateDevice(Html, device)
                }
            </div>

        </div>
    </form>
</body>
</html>