@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Smart Home</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/Css/styles.css"/>
</head>
<body>
    <form id="form1">
        <header>
            <div id="logo">
                <img src="/Css/smarthouse.png" alt="logo" />
            </div>
        </header>
        <div id="content">
            <div class="addButtons">
                <button class="add" value="AddAirConditioner">Add Air Conditioner</button><br />
                <button class="add" value="AddCamera">Add Camera</button><br />
                <button class="add" value="AddFridge">Add Fridge</button><br />
                <button class="add" value="AddGarage">Add Garage</button><br />
                <button class="add" value="AddHomeCinema">Add Home Cinema</button><br />
                <button class="add" value="AddLoudspeakers">Add Loudspeakers</button><br />
                <button class="add" value="AddTV">Add TV</button>
            </div>
        </div>
    </form>
</body>
</html>