@using SmartHouseMVC.Helpers
@using SmartHouseMVC.Models.SmartHouse.Devices
@model IEnumerable<Device>
@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart Home</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/Css/styles.css" />
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/script.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img src="/Css/smarthouse.png" alt="logo" />
        </div>
    </header>
    @using (Html.BeginForm("DoAction", "Home", FormMethod.Post))
    {
        <div id="content">
            <div class="addButtons">
                <button class="add" name="action" value="addAirConditioner">Add Air Conditioner</button><br />
                <button class="add" name="action" value="addCamera">Add Camera</button><br />
                <button class="add" name="action" value="addFridge">Add Fridge</button><br />
                <button class="add" name="action" value="addGarage">Add Garage</button><br />
                <button class="add" name="action" value="addHomeCinema">Add Home Cinema</button><br />
                <button class="add" name="action" value="addLoudspeakers">Add Loudspeakers</button><br />
                <button class="add" name="action" value="addTv">Add TV</button>
            </div>
            <div class="container">
                @foreach (var device in Model)
                {
                    if (device is AirConditioner)
                    {
                        @Html.Partial("../AirConditioner/Index", device as AirConditioner)
                    }
                }
            </div>

        </div>
    }
</body>
</html>