body {
    background-image: url("/CSS/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: cadetblue;
    min-height: 200px;
}
.addButtons {
    margin-top: 80px;
}
.add {
    min-width: 150px;
    min-height: 20px;
    width: 20%;
    height: 5%;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.add:hover {
    background-color: #DC143C;
    cursor: pointer;
}
.item {
    float: left;
    width: 200px;
    height: 300px;
    margin: 5px;
    border: 1px dotted gainsboro;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-color: white;
    background-position:0 40px;
}
.container {
    margin-left: 100px;
    margin-top: 80px;
    top: 2%;
    position: absolute;
    left: 19%;
}
.controls {
    margin-top: 230px;
}
.control {
    float: left;
    margin-left: 5px;
    
}
.delete {
    margin-right: 5px;
    margin-top: 5px;
    float: right;
    background: url("/Css/Controls/Delete.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}
.indicators {
    margin-top: 5px;
}
.indicator {
    float: left;
    margin-left: 5px;
}
header {
    height: 1%;
}
#logo{
    min-width: 150px;
    width: 20%;
}
#logo>img{
    vertical-align: middle;
}
.airConditioner {
    background-image: url("/CSS/Devices/conditioner.jpg");
}
.camera {
    background-image: url("/CSS/Devices/camera.jpg");
}
.fridge {
    background-image: url("/CSS/Devices/fridge.png");
}
.garage {
    background-image: url("/CSS/Devices/garage.jpg");
}
.HomeCinema {
    background-image: url("/CSS/Devices/panasonicCinema.jpg");
}
.Loudspeakers {
    background-image: url("/CSS/Devices/panasonicLoudspeakers.jpg");
}
.Tv {
    background-image: url("/CSS/Devices/panasonicTV.jpg");
}
.visible {
    display: block;
}
.invisible {
    display: none;
}
.on {
    background: url("/Css/Controls/On.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}
.off {
    background: url("/Css/Controls/Off.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}
.up {
    background: url("/Css/Controls/Up.png") no-repeat 0 0;
    width: 20px;
    height: 15px;
}
.down {
    background: url("/Css/Controls/Down.png") no-repeat 0 0;
    width: 20px;
    height: 15px;
}
.bass {
    background: url("/Css/Controls/Bass.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}
.open {
    background: url("/Css/Controls/Open.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}
.close {
    background: url("/Css/Controls/Close.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}
.rec {
    background: url("/Css/Controls/Rec.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}
.threeD {
    background: url("/Css/Controls/3D.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}
.mute {
    background: url("/Css/Controls/Mute.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
}

